* {
  outline: none!important;
  border: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  min-height: 100vh;
  background-color: #2D2D2D;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background-color: #4a4a4a;
  padding: 10px 25px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

input[type='text'] {
  border-radius: 5px;
  padding: 8px 10px;
}

form span {
  color: red;

}